.random-color  {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin: 16px 0;
  color: yellow;
  font-size: 24px;
}

.green {
  background-color: green;
}

.violet {
  background-color: violet;
}

.ngSwitch {
  display: block;
  margin: 16px 0;
  border: 1px solid grey;
  padding: 10px;
  p, a{
    display: block;
    margin: 10px 0;
  }
  a{
    cursor: pointer;
  }
}
